<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOyTGsl-Tc2xOU64ZyKENj4wpDZgnN_1k"></script>
<?php echo Tag::js("administrador/usuarios/mapa")?>
<?php echo Tag::js('administrador/usuarios/loadmap') ?>
<style>
      #map {
        height: 400px;
        width: 100%;
       }
       .cuadro{
         background-image: url('http://localhost/evento/img/banner.png');
         background-size: cover;
         width: auto;
         height: 350px;
       }
       .perfil{
         width: 200px;
         height: 200px;
       }
    </style>
<div class="jumbotron cuadro">
  <div class="row">
    <div class="col-sm-4">
      <?php //echo Html::img('logosm.jpg', 'Logo del evento', 'class="img-responsive"') ?>
    </div>
    <div class="col-sm-8">
      <!--<h1>Evento Ediciones SM</h1>
      <p class="lead">Este es un evento de seminario patrocinado por Ediciones SM</p>-->
    </div>
  </div>
  <!--<hr class="my-4">-->
  <!--<p>Puede observar todo el programa en la parte inferior de la página.</p>-->
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-xs-12 col-sm-8">
    <h3 class="text-center"><?php echo $config->nombre ?></h3>
  </div>
  <div class="col-sm-2"></div>
</div>
<br>
<div class="row">
  <div class="col-sm-8 col-md-8">
    <!-- Todo esto debe ser llenado de forma dinámica -->
  <p><?php echo $config->objetivo ?></p>
  <h3 class="text-center">Programa</h3>
  <p><?php echo $programa->contenido ?></p>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="card text-white bg-primary mb-3">
      <div class="card-body">
        <h2 class="text-center card-title"><?php echo $config->cupos ?> Cupos</h2>
        <p class="text-center">
          <?php echo Html::link('inscripcion', 'Inscripción', 'class="btn btn-success"') ?>
        </p>
      </div>
    </div>
		<div class="datos">
			<!-- <img src="http://w3.edicionessm.cl/seminariolij/images/clases/ate_link.jpg" alt="" class="clase-foto img-responsive"> -->


			<table class="table table-bordered detalle">
				<colgroup>
				<col class="col-xs-5">
				<col class="col-xs-7">
			</colgroup>

			<tbody>
				<tr>
					<th scope="row"> <i class="fa fa-calendar" aria-hidden="true"></i> Fecha </th>
					<td><?php echo date_format(date_create($config->fecha), 'd/m/Y') ?> </td>
				</tr>
				<tr>
					<th scope="row"> <i class="fa fa-clock-o" aria-hidden="true"></i> Hora</td>
						<td><?php echo $config->hora_inicio.' '.$config->hora_final.' Hrs.' ?></td>
					</tr>
					<tr>
						<th scope="row"> <i class="fa fa-usd" aria-hidden="true"></i> Precio </th>
            <?php if($config->precio == 0): ?>
						  <td>Gratuito</td>
            <?php else: ?>
              <td><?php echo $config->precio ?></td>
            <?php endif ?>
					</tr>
					<tr>
						<th colspan="2" scope="row"> <i class="fa fa-flag" aria-hidden="true"></i> Objetivo</th>
					</tr>
					<tr>
						<td colspan="2"><?php echo $config->objetivo ?></td>
					</tr>
					<tr>
						<th scope="row"> <i class="fa fa-map-marker" aria-hidden="true"></i> Lugar </th>
						<td><?php echo $config->lugar ?></td>
					</tr>
				</tbody>
			</table>
      <?php echo Html::link('inscripcion', 'Inscripción', 'class="btn btn-primary"') ?>
		</div>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-xs-12 col-sm-8">
    <h3 class="text-center"><b>Conferencistas</b></h3>
  </div>
  <div class="col-sm-2"></div>
</div>
<br>
<div class="row">
<?php //$i = 1 ?>
<?php foreach($conf as $key => $valor): ?>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 relator">
  <div class="iner-relator">

    <div class="foto-relator">
      <img src="<?php echo '/evento/'.$valor->imagen ?>" alt="Perfil" class="img-responsive img-circle perfil">
    </div>

    <div class="nombre-relator">
      <?php echo $valor->nombre ?>
    </div>

    <div class="desc-relator">
      <p>
        <p>
<?php echo $valor->contenido ?>
</p>
      </p>
    </div>
  </div>
</div>
  <?php //$i++ ?>
<?php endforeach ?>

</div>
<div class="jumbotron">
  <div class="row">


  	<div class="col-md-4 col-sm-6 col-xs-12">

  		<div class="datos">

  			<h3><i class="fa fa-calendar" aria-hidden="true"></i> Fecha</h3>
        <p><?php //echo ini_get('date.timezone') ?></p>
  			<p><?php echo date_format(date_create($config->fecha), 'd/m/Y') //echo strftime("%a, %d de %B de %G", strtotime($config->fecha)) ?></p>

  			<h3><i class="fa fa-clock-o" aria-hidden="true"></i> Hora</h3>
  			<p><?php echo $config->hora_inicio.' - '.$config->hora_final.' Hrs.' ?></p>

  			<h3><i class="fa fa-usd" aria-hidden="true"></i> Precio</h3>
        <?php if($config->precio == 0): ?>
          <p>Gratuito</p>
        <?php else: ?>
          <p><?php echo $config->precio ?></p>
        <?php endif ?>

  			<h3><i class="fa fa-flag" aria-hidden="true"></i> Objetivos</h3>
  			<p><?php echo $config->objetivo ?></p>

  		</div>
  	</div>
  	<div class="col-md-8 col-sm-6 col-xs-12">
  		<h3><i class="fa fa-map-marker" aria-hidden="true"></i> Lugar</h3>
  		<p><?php echo $config->lugar ?></p>
	<div id="map" data-drag="false" data-time="200"></div>
      </div>
  	</div>
    <?php echo Html::link('inscripcion', 'Inscripción', 'class="btn btn-lg btn-primary"') ?>
  </div>
</div>
<input id="lugar"    class="hidden" value="<?php echo $config->lugar?>">
<input id="latitud"  class="hidden" value="<?php echo $config->latitud?>">
<input id="longitud" class="hidden" value="<?php echo $config->longitud?>">
