<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-text-width"></i>

              <h3 class="box-title">Programa del evento</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <dl class="dl-horizontal">
                <textarea id="summernote" rows="8" cols="80" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"><?php echo $programa->contenido ?></textarea>
              </dl>
              <button id="editar" type="button" class="btn btn-primary">Editar programa del evento</button>
            </div>
            <!-- /.box-body -->
          </div>
  </div>
  <div class="col-sm-2"></div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
     $('#summernote').summernote({
       placeholder: 'Hola!',
       tabsize: 2,
       height: 200
     });
    $("#editar").click(function(){
      var programa = $("#summernote").val();
      $.ajax({
        type: "POST",
        cache: false,
        url: 'editar_programa',
        data: {"programa":programa},
        success: function(result){
          if(result === 1){
            swal({
                  type: 'success',
                  title: 'Edición correcta',
                  text: 'Ya lo estamos redirigiendo...',
                  timer: 3000,
                  onOpen: () => {
                    swal.showLoading()
                  }
                }).then((result) => {
                  if (result.dismiss === 'timer') {
                    window.location.href = "<?php echo PUBLIC_PATH.'administrador/programa/' ?>";
                  }
                });
          }else{
            swal(
                  'Error al editar',
                  'No se pudieron editar los datos, vuelva a intentar',
                  'error'
                );
          }
        }
      });
    })
  })
</script>
