<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eventos Ediciones SM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <?php Tag::css('bootstrap4') ?>
    <?php Tag::css('eventos') ?>
    <?php echo Html::includeCss() ?>
    <?php echo Tag::js('jquery') ?>
  </head>
  <body>
    <div class="container">
      <?php View::content() ?>
    </div>
    <!-- Librerias de Javascript -->
    <?php echo Tag::js('bootstrap4') ?>
    <?php //echo Tag::js('docs') ?>
    <?php echo Tag::js('rut') ?>
    <script src="https://unpkg.com/sweetalert2@7.0.9/dist/sweetalert2.all.js" charset="utf-8"></script>
  </body>
</html>
