<br>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <h4 class="card-title">Formulario para la inscripción</h4>
        <form id="inscripcion">
          <div class="form-group">
            <label>Nombre</label>
            <input id="nombre"  type="text" placeholder="Coloca nombre y apellido" class="form-control">
            <label>RUT</label>
            <input id="rut"  type="text" placeholder="Coloca RUT" class="form-control">
            <label>Correo</label>
            <input id="correo"  type="email" placeholder="micorreo@correo.com" class="form-control">
            <label>Teléfono</label>
            <input id="telefono"  type="text" placeholder="+5612345678" class="form-control">
            <label>Región</label>
            <select id="region" class="form-control">
              <option value="" disabled selected >Seleccione...</option>
              <?php foreach($region as $key => $valor): ?>
                <option value="<?php echo $valor->id ?>"><?php echo $valor->nombre ?></option>
              <?php endforeach ?>
            </select>
            <label>Comuna</label>
            <select id="comuna" class="form-control">
              <option value="" disabled selected >Seleccione...</option>
            </select>
            <label>Cargo</label>
            <select id="cargo" class="form-control">
              <?php foreach($cargo as $key => $valor): ?>
                <option value="<?php echo $valor->id ?>"><?php echo $valor->nombre ?></option>
              <?php endforeach ?>
            </select>
            <label>Colegio</label>
            <select id="colegio" class="form-control">
              <?php foreach($colegios as $key => $valor): ?>
                <option value="<?php echo $valor->id ?>"><?php echo $valor->nombre ?></option>
              <?php endforeach ?>
            </select>
            <label>Cantidad de entradas</label>
            <select id="entradas" class="form-control">
              <?php for ($i=1; $i < 11; $i++): ?>
                <option value="<?php echo $i ?>"><?php echo $i ?></option>
              <?php endfor ?>
            </select>
          </div>
          <button id="guardar" type="button" class="btn btn-primary" name="button">Inscribirme</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var rutv;
    $("#region").on("change", function(){
  	    var region = $(this).val();
  	    $("#comuna").find("option").remove();
  	    $("#comuna").append("<option value='' disabled selected>Seleccione...</option>");
  	    $.ajax({
    		type : "post",
    		cache : false,
    		url : "inscripcion/cargarComunas",
    		data : {"region" : region},
    		success : function(result){
    		    $.each(result, function(i,val){
    			$("#comuna").append("<option value='"+val.id+"'>"+val.nombre+"</option>");
    		    });
    		},
    		error : function(){

    		}
  	    });
	  });
    $("#rut")
    .rut({formatOn: 'keyup', validateOn: 'change', minimumLength: 7})
    .on('rutInvalido', function(){
      $(this).parents(".form-group").addClass("has-danger");
      $(this).addClass("is-invalid");
      $("#invalido").append('Rut inválido vuelva a ingresar el rut');
      rutv = '';
    })
    .on('rutValido', function(){
      $(this).parents(".form-group").removeClass("has-danger");
      $(this).removeClass("is-invalid");
      $("#invalido").empty();
      $("#nombre").prop("disabled", false);
      $(".email").prop("disabled", false);
    })
    .on('rutValido', function(e, rut){
      rutv = rut;
    });
    $("#guardar").click(function(){
      var nombre = $("#nombre").val();
      var rut = rutv;
      var correo = $("#correo").val();
      var telefono = $("#telefono").val();
      var region = $("#region").val();
      var comuna = $("#comuna").val();
      var cargo = $("#cargo").val();
      var colegio = $("#colegio").val();
      var entradas = $("#entradas").val();
      $.ajax({
        type: 'post',
        url: 'inscripcion/guardarInscripcion',
        cache: false,
        data: {"nombre":nombre, "rut":rut, "correo":correo, "telefono":telefono, "region":region, "comuna":comuna, "cargo":cargo, "colegio":colegio, "entradas":entradas},
        success: function(result){
          if(result === 1){
            swal({
               title: "Inscripción creada correctamente!",
               text: "En breves momentos serás redireccionado",
               type: "success",
               timer: 2500,
               onOpen: () => {
                 swal.showLoading()
               }
             }).then((result) => {
               if (result.dismiss === 'timer') {
                 window.location.href = "http://localhost/evento/inscripcion/pago";
               }
             });
          }else if(result === 3){
            swal(
                  'Error en la compra',
                  'No puede comprar más entradas de las que hay disponible',
                  'info'
                );
          }else{
            swal(
                  'Error al inscribirse',
                  'No se pudieron crear los datos del usuario, vuelva a intentar',
                  'error'
                );
          }
        }
      });
    });
  })
</script>
