<br>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card text-white bg-info mb-3">
        <div class="card-body">
          <h4 class="card-title">Pago de inscripción</h4>
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Evento</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Total</th>
              </tr>
              <tr>
                <th scope="row">Evento SM</th>
                <td>Educación innovadora</td>
                <td><?php echo $datos->cantidad ?></td> <!-- Cantidad de entradas -->
                <?php if($conf->precio == 0): ?>
                  <td>Gratis</td>
                <?php else: ?>
                  <td><?php echo $datos->cantidad * $conf->precio ?></td> <!-- Precio de boleto -->
                <?php endif ?>
              </tr>
            </table>
          </div>
        </div>
    </div>
    <?php if($conf->precio == 0): ?>
      <?php echo Html::link('inscripcion/solicitar', 'Solicitar entradas', 'class="btn btn-success"') ?>
    <?php else: ?>
      <?php echo Html::link('inscripcion/pasarela', 'Pagar inscripción', 'class="btn btn-success"') ?>
      <?php echo Html::link('inscripcion/khipu', 'Pagar con khipu', 'class="btn btn-info"') ?>
    <?php endif ?>
  </div>
  <div class="col-sm-2"></div>
</div>
