<div class="row">
  <div class="col-md-12">
    <div class="box box-danger">
      <div class="box-header">
        <i class="fa fa-users hidden"></i>
        <h3 class="box-title"> Editar usuario </h3>
        <div class="box-body">
          <form id="editar_usuario" >
            <input id="usuario" name="id" type="text" class="form-control hidden"  value="<?php echo $usuario->id?>">
            <h4>Nombre</h4>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user" style="color:red"></i></span>
              <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Ingrese Descripcion del usuario" value="<?php echo $usuario->nombre ?>">
            </div>
            <br>
            <h4>Correo</h4>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope" style="color:red"></i></span>
              <input id="correo" type="text" class="form-control" placeholder="Ingrese proyecto" value="<?php echo $usuario->correo ?>">
            </div>
            <br>
            <h4>Nivel</h4>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-arrow-circle-up" style="color:red"></i></span>
              <select id="nivel" class="form-control" name="tipo">
                <?php foreach($nivel as $key => $valor): ?>
                  <?php if($valor->id == $usuario->nivel): ?>
                    <option value="<?php echo $valor->id ?>" selected><?php echo $valor->descripcion ?></option>
                  <?php else: ?>
                    <option value="<?php echo $valor->id ?>"><?php echo $valor->descripcion ?></option>
                  <?php endif ?>
                <?php endforeach ?>
              </select>
            </div>
            <br>
          </form>
          <button  class="btn btn-success guardar pull-right"  />Actualizar</button>
          <span class=" ml-1 pull-right"> &nbsp; &nbsp; </span>
          <button  class="btn btn-default volver  pull-right"  />Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    //console.log(id + nombre + rut + correo);
    $(".guardar").click(function(){
      var id = $("#usuario").val();
      var nombre = $("#nombre").val();
      var correo = $("#correo").val();
      var nivel = $("#nivel").val();
      $.ajax({
        type: "POST",
        cache: false,
        url: "../editar_usuario",
        data: {"id": id, "nombre":nombre, "correo":correo, "nivel":nivel },
        success: function(result){
          if(result == 1){
            console.log("usuario actualizado");
            swal({
               title: "Usuario actualizado correctamente!",
               text: "En breves momentos serás redireccionado",
               type: "success",
               timer: 2500,
               onOpen: () => {
                 swal.showLoading()
               }
             }).then((result) => {
               if (result.dismiss === 'timer') {
                 window.location.href = "http://localhost/evento/administrador/administrador/";
               }
             });
          }else{
            console.log("error"); //Colocar el sweet alert
            swal(
                  'Error al editar',
                  'No se pudieron editar los datos, vuelva a intentar',
                  'error'
                );
          }
        }
      })
    });
    $(".volver").click(function(){
      window.location.href = "http://localhost/evento/administrador/administrador/";
    })
  })
</script>
