<!-- CSS se cargara en el template, primero carga el view luego el template -->
<?php Tag::css('../bower_components/datatables.net-bs/css/dataTables.bootstrap.min') ?>
<script type="text/javascript">
  $(document).ready(function() {
    var table = $('#tabla_productos').DataTable( {
      "ajax": {
               "url": "listar_usuarios",
               "dataSrc":"",
               "dataType": "json",
               "cache": false,
             },
      dom: 'Bfrtip',
      "buttons": [
         {"extend": 'excel', "text":'<i class="fa fa-download" aria-hidden="true"></i>&nbsp; &nbsp; Exportar Excel',"className": 'btn btn-success pull-center'}
      ],
      "columns": [
          { "data": "id" },
      	  { "data": "nombre" },
      	  { "data": "correo" },
          { "data": "descripcion" },
          { "data": "acciones"}
      ]
    });
    $("#tabla_productos").on("click", ".editar", function(){
      var id = $(this).attr("value");
      location.href = "http://localhost/evento/administrador/administrador/editar/"+id;
    });

    $(".agregar").click(function(){
      location.href = "http://localhost/evento/administrador/administrador/crear/";
    })
  });
</script>
<div class="row">
  <div class="col-md-12">
    <div class="box box-danger">
      <div class="box-header">
        <i class="fa fa-users hidden"></i>
        <h3 class="box-title pull-left"> Lista de Usuarios </h3>
        <br>
        <br>
        <button class="btn btn-success agregar pull-right">Agregar nuevo usuario</button>
        <div class="table-responsive col-md-12">
          <table id="tabla_productos" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
		                <th>Nombre</th>
            		    <th>Correo</th>
            		    <th>Nivel</th>
                    <th>Acciones</th>
                </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
